PORT=443
HOST=0.0.0.0
SSL_KEY_PATH=222.102.10.95.nip.io-key.pem
SSL_CERT_PATH=222.102.10.95.nip.io.pem
ALLOWED_ORIGINS=http://222.102.10.95:5173
FRONTEND_URL=http://222.102.10.95:5173
KAKAO_REDIRECT_URI=https://222.102.10.95.nip.io/api/user/kakao/callback
GOOGLE_REDIRECT_URI=https://222.102.10.95.nip.io/api/user/google/callback
NAVER_REDIRECT_URI=https://222.102.10.95.nip.io/api/user/naver/callback
